services:
  anvil:
    image: ghcr.io/foundry-rs/foundry
    container_name: anvil
    environment:
      ANVIL_IP_ADDR: "0.0.0.0"
    working_dir: /anvil
    ports:
      - "8545:8545"
    command: anvil --mnemonic "test test test test test test test test test test test junk" --host 0.0.0.0

  deployer:
    image: ghcr.io/foundry-rs/foundry
    container_name: deployer
    depends_on:
      - anvil
    volumes:
      - ./contracts/ethereum:/app
    working_dir: /app
    environment:
      PRIVATE_KEY: "0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
      RELAYER_ADDRESS: "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"
      FOUNDRY_PROFILE: default
    entrypoint: /bin/sh -c "while ! cast block-number --rpc-url http://anvil:8545 > /dev/null 2>&1; do sleep 1; done; forge script script/Deploy.s.sol --rpc-url http://anvil:8545 --broadcast"

  canton:
    image: chainsafe/canton:3.4.8
    container_name: canton
    ports:
      # Sequencer
      - "5001:5001" # Public API
      - "5002:5002" # Admin API

      # Mediator
      - "5202:5202" # Admin API

      # Participant 1
      - "5011:5011" # Ledger API
      - "5012:5012" # Admin API
      - "5013:5013" # HTTP Ledger API

      # Participant 2
      - "5021:5021" # Ledger API
      - "5022:5022" # Admin API
      - "5023:5023" # HTTP Ledger API

    # Run the canton daemon with the simple topology configuration
    command: [ "daemon", "--config", "/canton/simple-topology.conf", "--bootstrap", "/canton/deploy-dars.canton" ]

    volumes:
      - ./contracts/canton-erc20:/canton/contracts
      - ./deployments/canton-config/deploy-dars.canton:/canton/deploy-dars.canton
    #      - ./deployments/canton-config/simple-topology.conf:/canton/simple-topology.conf

    # Healthcheck using the tools installed in the Dockerfile (grpcurl, jq)
    healthcheck:
      test: "grpcurl --plaintext localhost:5012 com.digitalasset.canton.health.admin.v0.StatusService.Status | jq -e '.success | select(.active)'"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: p@ssw0rd
      POSTGRES_DB: relayer
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./pkg/db/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

#  relayer:
#    build: .
#    container_name: canton-bridge-relayer
#    depends_on:
#      postgres:
#        condition: service_healthy
#    ports:
#      - "8080:8080"
#      - "9090:9090"
#    volumes:
#      - ./config.yaml:/app/config.yaml
#    environment:
#      - ETHEREUM_RELAYER_PRIVATE_KEY=${ETHEREUM_RELAYER_PRIVATE_KEY}
#      - CANTON_RELAYER_PRIVATE_KEY=${CANTON_RELAYER_PRIVATE_KEY}
#    restart: unless-stopped

#   prometheus:
#     image: prom/prometheus:latest
#     container_name: canton-bridge-prometheus
#     ports:
#       - "9091:9090"
#     volumes:
#       - ./deployments/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
#       - prometheus_data:/prometheus
#     command:
#       - '--config.file=/etc/prometheus/prometheus.yml'
#       - '--storage.tsdb.path=/prometheus'
#     restart: unless-stopped

volumes:
  postgres_data:
  prometheus_data:
